<div class="sectionDiv" id="stepsDiv">
    <h2>Create an account</h2>
    <p>Fill in the form below to create your profile as a new house representative.</p>
    <form action="/" method="POST">
        <h4>Write your name:</h4>
        <p>{{#if error_first_name}}<font color="red"> You must write a first name!</font>{{/if}}</p>
        <input type="text" name="first_name" placeholder=" First Name" />
        <p>{{#if error_last_name}}<font color="red"> You must write a last name!</font>{{/if}}</p>
        <input type="text" name="last_name" placeholder=" Last Name" />
        <h4>Write your email and password:</h4>
        <p>{{#if error_email}}<font color="red"> You must write an email!</font>{{else if error_email_used}}<font color="red"> Email already in use!</font>{{/if}}</p>
        <input type="email" name="email" placeholder=" example@email.com" />
        <p>{{#if error_password}}<font color="red"> You must write a password!</font>{{/if}}</p>
        <input type="password" name="password" placeholder=" password" />
        <div>
            <p><input type="submit" value=" Create profile " /></p>
        </div>
    </form>
</div>