<div class="sectionDiv" id="stepsDiv">
    <h2>Create an account</h2>
    <p>Fill in the form below to create your profile as a new house representative.</p>
    <form action="/" method="POST">
        <h4>Write your name:</h4>
        <input name="first_name" placeholder=" First Name" />
        <input name="last_name" placeholder=" Last Name" />
        <h4>Write your email and password:</h4>
        <input name="email" placeholder=" example@email.com" />
        <input type="password" name="password" placeholder=" password" />
        <h4>Add a profile picture (optional):</h4>
        <input type="url" class="longTxt" name="image_url" placeholder=" Image URL" />
        <h4>Write a campaign quote (optional):</h4>
        <input type="text" class="longTxt" name="quote" placeholder=" Quote" />
        <div>
            <p><input type="submit" value=" Create profile " /></p>
        </div>
    </form>
</div>