<div class="petitionDiv" id="stepsDiv">
    <h2>Create an account</h2>
    <p>Fill in the form below to create your profile as a new house representative.</p>
    <form action="/petitions" method="POST">
        <div class="stepDiv">
            <h3>Write your name:</h3>
            <input name="first_name" required placeholder="First Name" />
            <input name="last_name" required placeholder="Last Name" />
        </div>
        <div class="stepDiv">
            <h3>Add a profile picture:</h3>
            <input type="url" name="image_url" required placeholder="Image URL" />
        </div>
        <div class="stepDiv">
            <h3>Write a campaign quote:</h3>
            <input type="text" id="quoteTxt" name="quote" required placeholder="Quote" />
        </div>
        <div class="stepDiv">
            <h3>Add your signature:</h3>
            <input type="hidden" name="signature" value="data:image/png;base64,hello" />
        </div>

        <input type="submit" value="Create profile" />
    </form>
</div>