<div class="sectionDiv" id="writeDiv">
    <h2>Log in to make a petition</h2>
    <p>Only registered house representatives are allowed to make a petition.</p>
    <p>The registration is free and available to every citizen of the state.</p>
</div>