<div class="sectionDiv" id="writeDiv">
    <h2>Make a new petition</h2>
    <p>As a registered representative you are allowed to submit petitions to the house of representatives.</p>
    <p>The petition cannot be modified once submitted. Remember to check the text and signature before pressing the 'submit' button.</p>
    <p>Once sent, the petition will be reviewed by the moderation team before being published on the voting page.</p>
    <form action="/petitions" method="POST">
        <div>
            <h3>Write your petition:</h3>
            <input type="text" id="petitionTxt" name="petition" placeholder="Write your petition here." />
            <p>{{#if error_petition}}<font color="red"> You must write a petition!</font>{{/if}}</p>
            <h3>Add your signature:</h3>
            <canvas id="canvas" width="500" height="200"></canvas>
            <p>{{#if error_signature}}<font color="red"> You must write a signature!</font>{{/if}}</p>
            <input id="hiddenInput" type="hidden" name="signature_url" value="" />
            <p><a href="#" id="clear-button">Clear Signature</a></p>

            <input type="submit" value="Submit" />
        </div>
    </form>
</div>

<script src="canvas.js" defer></script>