<div class="sectionDiv">
    <h2>Make a new petition</h2>
    <p>As a registered representative you are allowed to submit petitions to the house of representatives.</p>
    <p>The petition cannot be modified once submitted. Remember to check the text and signature before pressing the 'submit' button.</p>
    <p>Once sent, the petition will be reviewed by the moderation team before being published on the voting page.</p>
    <form action="/petitions" method="POST">
        <div>
            <h3>Title:</h3>
            <p>{{#if error_title}}<font color="red"> You must write a petition title!</font>{{/if}}</p>
            <input type="text" class="longTxt" name="title" placeholder=" Write a petition title here" />
            <h3>Petition:</h3>
            <p>{{#if error_petition}}<font color="red"> You must write a petition!</font>{{/if}}</p>
            <input type="text" id="petitionTxt" name="petition" placeholder=" Write your petition here" />
            <h3>Add your signature:</h3>
            <p>{{#if error_signature}}<font color="red"> You must sign your petition!</font>{{/if}}</p>

            {{!-- CANVAS --}}
            <canvas id="canvas" width="500" height="200"></canvas>
            <input id="hiddenInput" type="hidden" name="signature_url" value="" />
            <p><a href="#" id="clear-button">Clear Signature</a></p>
            {{!-- /CANVAS --}}

            <h3>Topic (optional):</h3>
            <input type="text" list="topic" name="topic" placeholder=" Topic">
            <div>
                <datalist id="topic">
                    <option value="Public services">
                    <option value="Welfare">
                    <option value="Economy">
                    <option value="Tax">
                    <option value="Transport">
                    <option value="Law and order">
                    <option value="Foreign affairs">
                </datalist>
            </div>
            <input id="submitButton" type="submit" value=" Submit " />
        </div>
    </form>
</div>

<script src="canvas.js" defer></script>