<div class="newPetitionDiv" id="writeDiv">
    <h2>Make a new petition</h2>
    <p>Fill the fields below to make a new petition:</p>
    <form action="/" method="POST">
        <div>
            <h3>Write your name:</h3>
            <p><input name="first_name" placeholder="First Name" />{{#if error_firstname}}<font color="red"> First name field cannot be empty!</font>{{/if}}</p>
            <p><input name="last_name" placeholder="Last Name" />{{#if error_lastname}}<font color="red"> Last name field cannot be empty!</font>{{/if}}</p>
            <h3>Write your petition:</h3>
            <input type="text" id="petitionTxt" name="petition" placeholder="Write your petition here." />
            <p>{{#if error_petition}}<font color="red"> You must write a petition!</font>{{/if}}</p>
            <h3>Add your signature:</h3>
            <canvas id="canvas" width="500" height="200"></canvas>
            <p>{{#if error_signature}}<font color="red"> You must write a signature!</font>{{/if}}</p>
            <input id="hiddenInput" type="hidden" name="signature_url" value="" />
            <p><a href="#" id="clear-button">Clear Signature</a></p>

            <input type="submit" value="Submit" />
        </div>
    </form>
</div>

<script src="canvas.js" defer></script>