<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <title>{{page}}</title>
    </head>
    <body>
        <header>
            <nav id="navMain">
                <a href="/"><h3>HOME</h3></a>
                <a href="/petitions"><h3>PETITIONS</h3></a>
                <a href="/representatives"><h3>REPRESENTATIVES</h3></a>
                <a href="/votenow"><h3>VOTE NOW!</h3></a>
            </nav>
            <div id="logoDiv">
                <div id="logoImgDiv">
                    <img src="../assets/wheel_white.png" alt="logo">
                </div>
                <div id="logoTxt">
                    <h2>* * * NO ONE * * *</h2>
                    <h4>at the</h4>
                    <h1>WHEEL</h1>
                </div>
            </div>
            <div id="ticker">
                <div id="headlines">
                    <!-- headlines go here -->
                </div>
            </div>
        </header>
        <main>
            <div id="sidebar">
                {{> userCard}}
            </div>
            <div>
                {{{body}}}
            </div>
        </main>
        <footer id="footerMain">
            <p>SPICED House of Representatives</p>
            <p>Berlin, 20515</p>
            <p>Phone: 202-224-3121 TTY: 202-225-1904</p>
        </footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="script.js"></script>
    </body>
</html>