<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <title>{{title}}</title>
    </head>
    <body>
        <header id="headerMain">
            <nav id="navMain">
                <a href="/"><h3 class="navBtn">HOME</h3></a>
                <a href="/petitions"><h3 class="navBtn">PETITIONS</h3></a>
                <a href="/representatives"><h3 class="navBtn">REPRESENTATIVES</h3></a>
                <a href="/votenow"><h3 class="navBtn">VOTE NOW!</h3></a>
            </nav>
            <div id="logoDiv">
                <div id="logoTxt">
                    <h2>* * * NO ONE * * *</h2>
                    <h4>at the</h4>
                    <h1>WHEEL</h1>
                </div>
            </div>
            <div id="ticker">
                <div id="headlines">
                    HEADLINES HERE
                    <!-- headlines go here -->
                </div>
            </div>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer id="footerMain">
            <p>Thanks!</p>
        </footer>
    </body>
</html>