<div class="sectionDiv">
    <div id="petitionImg"></div>
    <h1>Petitions</h1>
    <p>It is the constitutional right of every citizen of our country to have their voice heard in equality of opportunity. For this reason, any citizen can submit a petition to the public tribune, where it can receive the support or opposition of other citizens.</p>
</div>
{{#if id}}{{> writePetition}}{{else}}{{> guestPetition}}{{/if}}
