<img id="petitionImg" src="./assets/writelaw.jpeg" alt="">
<div class="petitionDiv">
    <h1>MAKE A PETITION</h1>
    <h3>Follow the instructions below to make and publish a new petition.</h3>
</div>
{{> createProfile}}
{{> writePetition}}