<img id="petitionImg" src="./assets/writelaw.jpeg" alt="">
<div class="infoDiv">
    <h2>Petitions</h2>
    <p>It is the constitutional right of every citizen of our country to have their voice heard in equality of opportunity. For this reason, any citizen can submit a petition to the public tribune, where it can receive the support or opposition of other citizens.</p>
    <p>Petitions with the most support are sent to the house of representatives and put to vote, and if approved, the process of transforming the petition into a functional law begins.</p>
    <p>Bear in mind though that with the right to make one's voice heard comes the duty to respect the rights of others, so every petition must be in accordance with all universal and constitutional rights.</p>
</div>
{{> writePetition}}