<div id="thankyouDiv" class="titleDiv">
    <h1>THANK YOU FOR YOUR PETITION</h1>
    <h3>Your petition has been successfully submitted and will be reviewed soon.</h3>
    <div class="petitionDiv">
        <img id="signatureImg" src={{imgUrl}} alt="signature" />
        <div>
            <h2>{{first_name}} {{last_name}}</h1>
            <p>{{petition}}</p>
        </div>
    </div>
</div>