<div class="sectionDiv">
    <div id="voteImg"></div>
    <h1>The House of Representatives</h1>
    <p>Here you can vote the petitions of other representatives, and each day the petitions that have received more support than rejection will be approved.</p>

</div>

{{>allPetitions}}