<div class="sectionDiv">
    <div id="capitolImg"></div>
    <h1>Welcome to 'No One At The Wheel'</h1>
    <h2>The 'direct democracy' simulator</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, blanditiis? Exercitationem vel distinctio commodi quam eum, repellat fuga atque corrupti ullam eligendi sapiente voluptate deserunt iure aut doloribus quae non.</p>
</div>
{{#if id}}{{else}}{{> createProfile}}{{/if}}