<div class="sectionDiv">
    <div id="capitolImg"></div>
    <h1>Welcome to No One At The Wheel</h1>
    <h3>Here an explanation of the site and the registration template</h3>
</div>
{{#if id}}{{else}}{{> createProfile}}{{/if}}