/* GLOBAL */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Georgia, serif;
}

h1,
h2,
h3,
h4,
p {
    cursor: default;
}

/* HEADER */
#navMain {
    height: 30px;
    background: linear-gradient(90deg, rgba(157, 0, 0, 1) 0%, rgba(189, 0, 0, 1) 30%, rgba(106, 0, 0, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#navMain a {
    text-decoration: none;
}

#navMain a h3 {
    color: whitesmoke;
    font-family: Georgia, serif;
}

#navMain a:hover h3 {
    cursor: pointer;
    text-decoration: underline;
}

#logoDiv {
    height: 140px;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    color: whitesmoke;
    text-shadow: 0 0 10px #000000;
    background-image: url(./assets/flag.jpeg);
}

#logoImgDiv {
    width: 440px;
    height: 140px;
    margin: auto 0;
    position: absolute;
    overflow: hidden;
}

#logoImgDiv img {
    width: 400px;
    height: 400px;
    margin: 20px;
    object-fit: contain;
    position: relative;
    top: -110px;
    animation: 30s infinite rotation;
}

#logoTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

#logoDiv h2 {
    margin-top: -7px;
    font-size: 34px;
    text-decoration: overline;
}

#logoDiv h4 {
    margin-top: -8px;
    font-size: 25px;
    font-style: italic;
    font-weight: 100;
}

#logoDiv h1 {
    font-size: 70px;
    margin: -15px;
    text-decoration: underline;
}

#ticker {
    background-image: url(./assets/newspaper.jpeg);
    background-size: cover;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgb(104, 98, 90);
    border-bottom: 1px solid rgb(164, 155, 143);
    height: 30px;
}

.txtDiv {
    text-align: center;
}

/* COMMON */
main {
    display: flex;
    width: 1000px;
    background-color: whitesmoke;
    margin: 0 auto;
}

main h1,
main h2,
main h3,
main h4,
main p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#sidebar {
    min-width: 250px;
    background-color: silver;
}

footer {
    background-color: blanchedalmond;
    width: 1000px;
    margin: 0 auto;
}

.sectionDiv {
    border: 1px solid black;
    min-width: 750px;
    padding: 0 20px;
}

/* USER CARD */
#userCard {
    background-color: whitesmoke;
    padding: 15px;
    min-height: 350px;
    margin: 10px 10px;
    text-align: center;
}

#userCard img {
    background-color: #647db3;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid silver;
}

#password {
    width: 117px;
}

.log {
    cursor: pointer;
}

.flexDiv {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* HOME */
#capitolImg {
    background-image: url(./assets/capitol.jpeg);
    height: 467px;
    background-size: cover;
    margin: 0 -20px;
}

/* new representative */
.longTxt {
    width: 80%;
}

/* PETITION PAGE */
#petitionImg {
    background-image: url(./assets/writelaw.jpeg);
    height: 300px;
    background-size: cover;
    margin: 0 -20px;
    background-position: center -90px;
}

/* new petition */
#petitionTxt {
    width: 80%;
    height: 100px;
}

#canvas {
    border: 1px solid black;
    cursor: url(assets/quill.png) 3 42, crosshair;
    background-color: white;
}

#submitButton {
    margin: 10px auto;
}

/* THANK YOU */
#thankyouDiv {
    text-align: center;
}

.miniDiv {
    display: flex;
    align-content: center;
}

#miniImg {
    width: 60px;
    height: 60px;
    border: 1px solid grey;
}

#deleteButton {
    float: right;
    margin: 8px;
}

/* PETITION TEMPLATE */
.petitionDiv {
    background: linear-gradient(#eee, #fff 50%);
    border-radius: 5px;
    width: 95%;
    height: 200px;
    padding-right: 10px;
    margin: 10px auto;
    border: 1px solid #c5c5c5;
    box-shadow: 0 3px 10px #ddd;
    text-align: left;
    text-align: justify;
    display: grid;
    grid-template: 160px 30px / 160px 1fr;
}

.petitionUserDiv {
    text-align: center;
    grid-area: 1 / 1 / 3 / 2;
}

#userImg {
    width: 140px;
    height: 140px;
    margin: 10px 10px 0 10px;
    object-fit: cover;
    border: 1px solid grey;
    background-color: grey;
}

#userTxt {
    margin: 5px;
    grid-column: 1;
    grid-row: 2;
}

.petitionContent {
    grid-column: 2;
    grid-row: 1;
}

.petitionTitle {
    display: flex;
    gap: 15px;
}

.topicLink {
    color: rgb(89, 89, 89);
    text-decoration: none;
    position: relative;
    bottom: -12px;
}

#petitionDate {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
}

#signatureImg {
    width: 200px;
    height: 100px;
    position: relative;
    bottom: 60px;
    right: 0;
}

/* MINI TEMPLATE */
.miniDivContainer {
    display: flex;
    flex-direction: column;
}

.miniDiv {
    background: linear-gradient(#eee, #fff 50%);
    border-radius: 5px;
    width: 95%;
    height: 80px;
    margin: 10px auto;
    border: 1px solid #c5c5c5;
    box-shadow: 0 3px 10px #ddd;
    display: grid;
    grid-template: 1fr / 80px 1fr;
}

#miniImg {
    height: 60px;
    width: 60px;
    margin: 10px;
    object-fit: cover;
    grid-column: 1;
}

#miniContent {
    grid-column: 2;
}

/* REPRESENTATIVE TEMPLATE */
.representativeDiv {
    background: linear-gradient(#eee, #fff 50%);
    border-radius: 5px;
    width: 95%;
    max-height: 200px;
    margin: 10px auto;
    border: 1px solid #c5c5c5;
    box-shadow: 0 3px 10px #ddd;
    display: flex;
    text-align: left;
}

#representativeImg {
    min-width: 180px;
    min-height: 180px;
    max-width: 180px;
    max-height: 180px;
    margin: 10px;
    object-fit: cover;
    border: 1px solid grey;
    background-color: grey;
}

.representativeDiv div {
    margin: 0 30px 0 10px;
}

/* ANIMATIONS */

@keyframes rotation {
    0% {
        transform: rotate(60deg) translate(0, 3px);
    }
    25% {
        transform: rotate(120deg) translate(3px, 5px);
    }
    50% {
        transform: rotate(20deg) translate(-3px, 0px);
    }
    75% {
        transform: rotate(90deg) translate(0, 6px);
    }
    100% {
        transform: rotate(60deg) translate(0, 3px);
    }
}
